<div class="row">
    <div class="col-md-4">
        <div class="panel panel-gray">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-flag fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">
                            {{state}}
                        </div>
                        <p>FSM state</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3 ">
                        <i class="fa fa-user fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">
                            #{{target.id}}
                        </div>
                        <p>Current target</p>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <strong>Target info &nbsp</strong>
                <a data-toggle="collapse" data-target="#target-info" aria-controls="target-orientation">
                    <i class="fa fa-chevron-right"></i>
                </a>
                <ul class="list-group collapse" id="target-info">
                    <li class="list-group-item">
                        <strong>Frame ID: &nbsp </strong>
                        <span>{{target.victimFrameId}}</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Position: &nbsp </strong>
                        <a data-toggle="collapse" data-target="#target-position" aria-controls="target-position">
                            <i class="fa fa-chevron-right"></i>
                        </a>
                        <ul class="list-group collapse" id="target-position">
                            <li class="list-group-item">
                                x: &nbsp {{target.position.x}}
                            </li>
                            <li class="list-group-item">
                                y: &nbsp {{target.position.y}}
                            </li>
                            <li class="list-group-item">
                                z: &nbsp {{target.position.z}}
                            </li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        <strong>Orientation: &nbsp </strong>
                        <a data-toggle="collapse" data-target="#target-orientation" aria-controls="target-orientation">
                            <i class="fa fa-chevron-right"></i>
                        </a>
                        <ul class="list-group collapse" id="target-orientation">
                            <li class="list-group-item">
                                x: &nbsp {{target.orientation.x}}
                            </li>
                            <li class="list-group-item">
                                y: &nbsp {{target.orientation.y}}
                            </li>
                            <li class="list-group-item">
                                z: &nbsp {{target.orientation.z}}
                            </li>
                            <li class="list-group-item">
                                w: &nbsp {{target.orientation.w}}
                            </li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        <strong>Probability: &nbsp </strong>{{target.probability}}
                    </li>
                    <li class="list-group-item">
                        <strong>Sensors: </strong>
                        {{#each target.sensors}} &nbsp
                        <span class="label label-primary">{{this}}</span>
                        {{/each}}
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-gray">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-tag fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge"> {{strategy}} </div>
                        <p> Agent's strategy </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="agent-log">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading">
                <i class="fa fa-inbox fa-2x"></i>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">List group item heading</h4>
                        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">List group item heading</h4>
                        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="agent-commands">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading">
                <i class="fa fa-gear fa-2x"></i>
            </div>
            <div class="panel-body">
                <div class="col-md-9">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="focusedInput">Strategy</label>
                            <input class="form-control" id="focusedInput" type="select" placeholder="Normal">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="focusedInput">Log level</label>
                            <input class="form-control" id="focusedInput" type="text" placeholder="Logerr">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <button class="btn btn-primary btn-lg btn-block" type="submit"> Start </button>
                    </div>

                    <hr>

                    <div class="row">
                        <button class="btn btn-primary btn-lg btn-block" type="submit"> Stop </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
