
<div class="col-md-12">
    <div class="camera-panel panel panel-default">
        <div class="panel-heading">
            <h4>
                <span><i class="fa fa-camera"></i></span> &nbsp;
                <span><strong>{{topic}}</strong></span>
            </h4>
        </div>
        <div class="panel-body">
            <img src="http://{{streamServer}}:{{streamPort}}/stream?topic={{topic}}&quality={{videoQuality}}&width={{videoWidth}}&height={{videoHeight}}"
                 style="display: block; margin: auto; width: 100%; height: 70vh"></img>
        </div>
        <div class="well">
            <div class="form-group col-md-12">
                <label class="control-label" for="inputLarge"><strong>ROS topic</strong></label>
                <select class="form-control" id="ros-topic-selection">
                    {{#each rosTopics}}
                    <option value="{{this.topic}}">{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group col-md-4">
                <label class="control-label" for="inputLarge"><strong>Width (pixels)</strong></label>
                <input class="form-control input-md" id="video-width" type="number" placeholder="{{videoWidth}}">
            </div>
            <div class="form-group col-md-4">
                <label class="control-label" for="inputLarge"><strong>Height (pixels)</strong></label>
                <input class="form-control input-md" id="video-height" type="number" placeholder="{{videoHeight}}">
            </div>
            <div class="form-group col-md-4">
                <label class="control-label" for="inputLarge"><strong>Quality %</strong></label>
                <input class="form-control input-md" id="video-quality" type="number" placeholder="{{videoQuality}}">
            </div>

            <div class="form-group col-md-8">
                <label class="control-label" for="inputLarge"><strong>Image Server</strong></label>
                <input class="form-control input-md" id="stream-host" type="text" placeholder="{{streamServer}}">
            </div>

            <div class="form-group col-md-4">
                <label class="control-label" for="inputLarge"><strong>Port</strong></label>
                <input class="form-control input-md" id="stream-port" type="number" placeholder="{{streamPort}}">
            </div>

            <!--Just a little vertical space before the button-->
            <h2>&nbsp;</h2>

            <div class="btn-group btn-group-justified" role="group">
                <div class="btn-group">
                    <button type="submit" class="btn btn-success btn-lg" id="update-parameters">Submit</button>
                </div>
                <div class="btn-group">
                    <button type="reset" class="btn btn-default btn-lg" id="reset-parameters">Reset</button>
                </div>
            </div>
        </div>
    </div>
</div>
